pandas>=2.0
numpy>=1.26
scikit-learn>=1.4
psycopg2-binary>=2.9
sqlalchemy>=2.0
fastapi
uvicorn
streamlit
plotly
langchain>=0.2
langchain-community>=0.2
langchain-experimental>=0.0.60
langchain-ollama>=0.1.0
langchain-classic>=0.0.1
python-dotenv>=1.0
requests>=2.31
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
email-validator>=2.0.0
